.App{
  margin: 5%;
}
.navigation {
  margin: 2%;
}
input {
margin: 1%;
padding: 5px;
border-radius: 5px;
}
button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}
.fiends {
  background-color: indianred;
  width: 30%;
  padding: 5px;
}

.friendscard {
  background-color: green;
  margin: 2%;
  width: 50%;
  padding: 3px;
}